---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Homepage - BHS Innovation Fund";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import highlightImage1 from "../images/highlight-photo-01.jpg";
import highlightImage2 from "../images/highlight-photo-02.jpg";
import highlightImage3 from "../images/highlight-photo-03.jpg";
import highlightImage4 from "../images/highlight-photo-04.jpg";

import { contentfulClient } from "../lib/contentful";
import type { Program } from "../lib/contentful";

const entries = await contentfulClient.getEntries<Program>({
  "fields.featuredOnHomepage": true,
  content_type: "program",
});

const featuredPrograms = entries.items.map((item) => {
  const {
    name,
    slug,
    year,
    description,
    coverImageSrc,
    coverImageAlt,
    faculty,
    content,
    isActive,
    isCurrentlyFunded,
    featuredOnHomepage,
  } = item.fields;
  return {
    name,
    slug,
    year: new Date(year).toLocaleDateString(),
    description,
    coverImageSrc,
    coverImageAlt,
    faculty,
    content,
    isActive,
    isCurrentlyFunded,
    featuredOnHomepage,
  };
});

const programImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/programs/*.{jpeg,jpg,png,gif}"
);
---

<BaseLayout pageTitle={pageTitle} showPageTitle={false}>
  <section class="[ hero ]" aria-labelledby="hero-heading">
    <div class="[ wrapper ]">
      <div class="[ hero__text flow ]">
        <h2 id="hero-heading">
          The Innovation Fund has been changing culture and lives at Brookline
          High School for more than 25 years.
        </h2>
        <a
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WMETUBMXB4DEQ&source=url"
          class="button"
          rel="external"
          target="_blank">Donate Today</a
        >
      </div>
    </div>
  </section>

  <section class="[ impact ]" aria-labelledby="impact-heading">
    <h2 id="impact-heading" class="[ visually-hidden ]">Impact</h2>
    <div class="[ impact__content ] [ wrapper--full switcher ]">
      <div>
        <span>30+</span> innovative academic programs funded to date
      </div>
      <div>
        <span>$7M+</span> invested in groundbreaking curricula at BHS
      </div>
      <div>
        <span>2000+</span> students benefit each year from a culture of innovation
      </div>
    </div>
  </section>

  <section
    class="[ highlights ] [ bg-neutral-200 ]"
    aria-labelledby="highlights-heading"
  >
    <h2 id="highlights-heading" class="[ visually-hidden ]">Highlights</h2>
    <div class="[ highlights__content ] [ wrapper--full ]">
      <div class="highlight__row">
        <Image
          src={highlightImage3}
          alt="A student smiling at another at a desk and writing in a notebook."
          class="highlight__image"
        />
        <div class="highlight__text">
          <p>
            All BHS students have the opportunity to explore unique areas of
            interest, develop project-based learning skills, and reinforce
            academic and social foundations for growth.
          </p>
          <a class="button" href="/programs/">Programs We Funded</a>
        </div>
      </div>
      <div class="highlight__row">
        <Image
          src={highlightImage1}
          alt="A student in class looking on intently."
          class="highlight__image"
        />
        <div class="highlight__text">
          <p>
            We encourage faculty to experiment by teaching interdisciplinary
            courses and approaching curriculum design creatively.
          </p>
          <p>
            We ensure students gain exposure to new ideas and different ways of
            learning so they can thrive.
          </p>
          <a class="button" href="/impact/">Our Impact</a>
        </div>
      </div>
      <div class="highlight__row">
        <Image
          src={highlightImage2}
          alt="Two students at a desk laughing while listening to audio through a shared device."
          class="highlight__image"
        />
        <div class="highlight__text">
          <p>
            We provide grants to BHS faculty to fund innovative courses and
            initiatives.
          </p>
          <p>
            Selected programs may be incorporated into the permanent BHS
            offerings.
          </p>
          <a class="button" href="/process/">Our Process</a>
        </div>
      </div>
      <div class="highlight__row">
        <Image
          src={highlightImage4}
          alt="Multiple students with backpacks outside sitting on a short wall and one laughing with a camera."
          class="highlight__image"
        />
        <div class="highlight__text">
          <p>
            The BHS Innovation Fund is a non-profit 501(c)(3) organization that
            is solely reliant on community support.
          </p>
          <a
            class="button"
            href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WMETUBMXB4DEQ&source=url"
            rel="external"
            target="_blank">Donate Now</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="[ programs ]" aria-labelledby="featured-programs-heading">
    <div class="[ programs__content ] [ wrapper ]">
      <h2 id="featured-programs-heading">Featured Programs</h2>
      <ul class="[ switcher list-no-padding ]">
        {
          featuredPrograms.map((program: any) => (
            <li>
              <article class="[ card ]">
                <div class="[ img ]">
                  <Image
                    src={programImages[program.coverImageSrc]()}
                    alt={program.coverImageAlt}
                    class="card__img"
                  />
                </div>
                <div class="[ text ]">
                  <h3>
                    <a href={`/programs/${program.slug}/`}>{program.name}</a>
                  </h3>
                  <div class="[ program__tags ]">
                    <span class="[ program__tag program__tag--year ]">
                      {new Date(program.year).getFullYear()}
                    </span>
                    {program.isActive && (
                      <span class="[ program__tag program__tag--active ]">
                        Active
                      </span>
                    )}
                    {program.isCurrentlyFunded && (
                      <span class="[ program__tag program__tag--current ]">
                        {new Date(program.year).getFullYear() ===
                        new Date().getFullYear()
                          ? "New Award"
                          : "Currently Funded"}
                      </span>
                    )}
                  </div>
                  <p>{program.description}</p>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
