---
import { Image } from "astro:assets";

const { event, url } = Astro.props;

const eventImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/events/*.{jpeg,jpg,png,gif}"
);

const date = new Date(event.date);
const dateOptions: object = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<li>
  <article class="[ card ]">
    <div class="[ card__text ]">
      <h3 class="[ card__title ]">
        <a href={`/events/${url}/`}>{event.title}</a>
      </h3>
      {
        event.date ? (
          <p class="[ event__description ]">
            <em>{event.description}</em>
          </p>
        ) : (
          <p class="[ event__description ]" style="margin-top: 0">
            <em>{event.description}</em>
          </p>
        )
      }
      {
        event.date && (
          <div class="[ event__date ]">
            <span class="[ event__month ]">
              {date.toLocaleDateString("en-US", { month: "short" })}
            </span>
            <span class="[ event__day ]">
              {date.toLocaleDateString("en-US", { day: "numeric" })}
            </span>
          </div>
        )
      }
    </div>
    <div class="[ card__img ]">
      <Image
        src={eventImages[event.coverImageSrc]()}
        alt={event.coverImageAlt}
        class="card__img"
      />
    </div>
  </article>
</li>
