---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/programs/*.{jpeg,jpg,png,gif}"
);

if (!images[frontmatter.coverImageSrc])
  throw new Error(
    `"${frontmatter.coverImageSrc}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<BaseLayout pageTitle={frontmatter.name} showPageTitle={false}>
  <article class="[ program ] [ wrapper flow ]">
    <div class="[ program__hero ]">
      <div class="[ program__hero__text ] [ flow ]">
        <h1 class="[ program__name ]">{frontmatter.name}</h1>
        <div class="[ program__tags ]">
          <span class="[ program__tag program__tag--year ]">
            {new Date(frontmatter.year).getFullYear()}
          </span>
          {
            frontmatter.isActive && (
              <span class="[ program__tag program__tag--active ]">Active</span>
            )
          }
          {
            frontmatter.isCurrentlyFunded && (
              <span class="[ program__tag program__tag--current ]">
                {new Date(frontmatter.year).getFullYear() ===
                new Date().getFullYear()
                  ? "New Award"
                  : "Currently Funded"}
              </span>
            )
          }
        </div>
        <p class="[ program__description ]">
          <em>{frontmatter.description}</em>
        </p>
        {
          frontmatter.faculty && frontmatter.faculty.length > 0 && (
            <ul>
              {frontmatter.faculty.map((faculty: any) => (
                <li>
                  <a href={`/faculty/${faculty.fields.slug}/`}>
                    {faculty.fields.name} ({faculty.fields.department})
                  </a>
                </li>
              ))}
            </ul>
          )
        }
      </div>
      <div>
        <Image
          src={images[frontmatter.coverImageSrc]()}
          alt={frontmatter.coverImageAlt}
          class="program__hero__image"
        />
      </div>
    </div>
    <div
      class="[
          program__content
          ]
          [
          flow
          ]"
      set:html={documentToHtmlString(frontmatter.content)}
    />

    <!-- <slot /> -->
  </article>
</BaseLayout>
